* {
    box-sizing: border-box;
}


body {

    background-color: coral;
    text-align: center;
    color: wheat;
    text-shadow: 2px 2px 2px black;
}

input {
    display: none;
}


ul {
    /* list-style-position: inside; */
    list-style: none;
    padding: 0px;
    
}


img {
    width: 110px;
    border: 3px double rgb(0, 109, 128);
    border-radius: 15px;
    transition: 0.4s ease;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    margin: 10px; 
}


input:checked + .player-choice-img {
    width: 120px;
    border: 8px solid rgb(86, 0, 112);
    box-shadow: 5px 5px 5px black;
}

.button {
    margin: 10px;
    width: 150px;
    padding: 3px;
    border-radius: 10px;
    border: 3px solid pink;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: rgba(255, 218, 185, 0.719);
}

.button:hover {
    box-shadow: 4px 4px 4px black;
    border: 5px solid pink;
    width: 170px;
}

.player-choice-div {
    
}

#comp-img {
    width: 120px;
    border: 8px solid rgb(202, 58, 82);
    box-shadow: 5px 5px 5px black;
    transition: 2s ease;
}

#result-field {
    opacity: 0;
    
}

